/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* |||||||||||||||||||end of  */

body{
background-color: #F7CE68;
background-image: linear-gradient(180deg, #F7CE68 0%, #e88f4f 50%, #c74c5a 100%);
background-repeat: no-repeat;
background-attachment: fixed;
color: var(--grey);
font-family: 'Raleway', sans-serif;
}

* 
{
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  box-sizing: border-box;
}

:root {
  --grey: #3E3E3E;
  --maroon: #AF2833;
  --navy: #435394;
  --white:#FFFFFF;
}

/* font styles */
h1{
  font-size:  48.83px;
  font-weight: bold;

}

h2{
  font-size: 39.25px ;
}

h3{
  font-size: 31.25px ;
  font-weight: normal;
}

.wrapper{
  margin: 3rem;
}

.spicey{
  width: 400px;
  height: auto;
}

.wrapper{
  align-items: center;
}

.p {
  padding-bottom: 1rem;
  padding-top: 1rem;
}


a{
  text-decoration: none;
}

a.button{
 background-color: var(--maroon); 
 text-decoration: none;
 width: 174.38px;
 height: 68px;
border-radius: 30px;
font-size: 31.25px ;
color: var(--white);
padding: 10px;
}

.inner{
padding-bottom: 4em;
}

.text-content{
  padding-bottom: 1.5em;
}



