/*http://meyerweb.com/eric/tools/css/reset 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* |||||||||||||||||||end of reset */

html {
  /*This makes sure that the padding and border are included in the total width and height of the elements. */
  box-sizing: border-box;
  background-color: #F7CE68;
  background-image: linear-gradient(180deg, #F7CE68 0%, #e88f4f 50%, #c74c5a 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* defining custom variable colors and font size for easy acess */
:root {
  --grey: #3E3E3E;
  --maroon: #AF2833;
  --navy: #435394;
  --white: #FFFFFF;
  --yellow: #EDD342;
  font-size: 20px;
}

body {
  color: var(--grey);
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  padding: 0;
  line-height: 1.2;
}

/* -------------------
      Nav for Mobile
 ---------------------- */

/* nav styling */
.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% auto;
  background-color: var(--yellow);
  /* styling a circular nav background*/
  width: 70%;
  height: 70%;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Centering Nav Bar links */
.nav-menu li {
  display: flex;
  justify-content: center;
}

/* Styling Nav Bar Text */
.nav-menu a {
  padding: 1em;
  color: var(--grey);
  font-weight: bolder;
  text-transform: uppercase;
}

.logo {
  width: 10em;
  height: auto;
}

/* remove default underlining styling of links */
a {
  text-decoration: none;
  list-style: none;
}
/*  */

/* -------------------
      FONT STYLING
 ---------------------- */

/* 1vw = 1% of viewport width
1vh = 1% of viewport height
1vmin = 1vw or 1vh, whichever is smaller
1vmax = 1vw or 1vh, whichever is larger */

h1 {
  font-size: 7.9vw;
  font-weight: bold;
  text-shadow: 2px 4px 6px rgba(0, 0, 0.5, 0.16);
}

h2 {
  font-size: 3.0vh;
  font-size: 3.052em;
}

h3 {
  font-size: 3.0vh;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 12px;
}

/* Main Contents */
.lands {
  color: var(--navy);
}

.wrapper {
  margin: 3rem 3rem 0 3rem;
  align-items: center;
}

.inner {
  padding-bottom: 0.5em;
}

.left {
  padding-bottom: 2em;
}

.p {
  padding-bottom: 2rem;
  padding-top: 1rem;
}


/* ---Button Styling--- */
a.button {
  background-color: var(--maroon);
  text-decoration: none;
  width: 174.38px;
  height: 68px;
  border-radius: 30px;
  font-size: 31.25px;
  color: var(--white);
  padding: 10px;
}

.button:hover {
  color: white;
  background-color: var(--navy);
  transition: 0.2s;
}

/* making landing page graphic responsive */
.spicey {
  width: 100%;
  height: auto;
  justify-content: center;
}

footer {
  padding: 1em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 2.5em;
  align-items: center;
  margin: 0;
  flex-wrap: nowrap;
}


.social-icon {
  padding-right: 1em;

}




/* ||||||||||||||||| SHOP|||||||||||||||||||*/


.card {
  background-color: #fff;
  width: 20em;
  height: 35em;
  border-radius: 199px 199px 60px 60px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}

.product-img {
  width: 20em;
  border-radius: 200px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.product-text {
  display: flex;
  align-items: center;
  flex-basis: 0;
}

.shop-btn {
  width: fit-content;
}

/* |||||||||||||Contact Page||||||||| */
/* Make banner Image responsive */
#banner {
  width: 100%;
  height: auto;
  position: relative;
}

#banner img {
  width: 100%;
}

/* ||||||||||||Cloud Banner|||||||||||||| */

/* positioning clouds */
#banner .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* direct cloud movment to be in linear formation and repeatative */
#banner .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(8s * var(--i)) linear infinite;
}

/* entering from the X axis, and sliding across continously */
@keyframes animate {
  0% {
    transform: translateX(-100%);
}

  100% {
    transform: translateX(100%);
}
}
/* TABLET STYLES BEGIN */
  @media screen and (min-width: 768px) and (max-width: 1024px) 
  {
    html{
    font-size: 4vw;}
  }

  @media screen and (min-width: 1024px) 
  {
html{
  font-size: 4vh;
}
    .nav-menu {
      flex-flow: row wrap;
      background: none;
      width: 100%;
      height: auto;
      align-items: center;
      box-shadow: none;
      margin-top: 0;
    }

    .nav-menu a:hover {
      background-color: var(--yellow);
      border: var(--yellow);
      border-radius: 50%;
      width: fit-content;
      height: fit-content;
    }
    

    /* desktop nav styling */

    /*  */
    .logo-li {
      margin-right: auto;
    }

    .logo-container {
      padding: 0;
    }

    /* -----hover effect for nav items-----*/
    .nav-menu a:hover {
      background-color: var(--yellow);
      border-radius: 3em;
    }

    /* |||||||||||||||||Contents|||||||||||| */
    /* make text contents and Graphic Content side by side */
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 100px;
      justify-items: start;
    }

    h1 {
      font-size: 3.5vw;
    }

    /* align text and graphic */
    .inner {
      align-self: flex-start;
    }

    img.spicey {
      justify-self: end;
      width: 100%;
    }

  }