/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*CSS Design Start t*/

/* /*  Color values used in the layout
green= #57eeab
yellow= #fffd8c
coral= #ff8480
white= #f7f7ff
grey= #333131
 */

html {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7ff;
}

/* adding grid */
main {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  margin: 25px 36px 45px 36px;
}

#dash-logo {
  display: flex;
  justify-content: left;
  width: 6.25rem;
  height: auto;
  padding-bottom: 2.313rem;
}

/* centering contents & adding min+max width */
.title-and-text {
  margin: 0 auto;
  min-width: 304px;
  max-width: 604px;

}


.title-and-text h1 {
  font-weight: Bold;
  font-size: 60px;
  color: #333131;
  letter-spacing: 0em;
  line-height: 73px;
  text-align: left;
}

.start-today {
  font-size: 24px;
  color: #333131;
  line-height: 29px;
  opacity: 1;
}

.scooter-girl {
  width: 18.007rem;
  height: auto;
  padding: 0.25rem 0 1rem 0;
  margin: 0 auto;

}

.apply {
  box-sizing: border-box;
  border: #333131;
  background-color: white;
  /* width: 18.75rem auto; */
  height: 30.938rem;
  border-radius: 26px;
  background: #fff;
  box-shadow: 5px 10px 15px rgba(51, 49, 49, 0.4);
  min-width: 304px;
  max-width: 604px;
  margin-bottom: 2.813rem;
  margin: 0 auto;

}

.apply-form-contents {
  padding: 0.9rem 1.9rem;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
}

.apply-now {
  font-weight: Bold;
  font-size: 40px;
  color: #333131;
  /* padding: 0.625rem 1.563rem 1.5rem 1.563rem; */
}

.apply-description-short {
  font-weight: normal;
  font-size: 16px;
  color: #333131;
  padding: 24px 0 15px 0;
}

/* vanish long description because it's mobile */
.apply-description-long {
  display: none;
}

/* apply flex to form container */
.form-container {
  display: flex;
  flex-direction: column;
}

/* Flexbox ordered the 3rd form section (email adress) as "1" to make it the last written section on the form -> this was one of the differences in the mobile mockup compared to the desktop and tablet which have the form sections in source code order */
.contact-form-section:nth-child(3) {
  order: 1;
}

/* The labels appear before the input, which is not displayed on the mockup, therefore I took away the label's display. The placeholders are there to still guide the user to input the correct contact information. */
.contact-form-label {
  display: none;
}

.contact-form-input {
  box-sizing: border-box;
  background: #F4F4F5;
  border-radius: 11px;
  opacity: 0.5;
  /* width: 15.625rem; */
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.938rem;
  border: none;
  padding: 0.688rem 0rem 0.625rem 0.625rem;
  font-size: 16px;
  font-weight: normal;
  color: #9B9B9B;
}

.agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* styling checkbox */
input[type=checkbox] {
  border-radius: 5px;
  width: 25px;
  height: 25px;
  /* 15px 10px 15 0 */
  margin: 0rem;
  border: 1px solid #333131;
  opacity: 1;
}

.i-agree {
  font-size: 16px;
  display: inline;
  margin-left: 0.938rem;
}

.button1 {
  align-content: center;
  box-sizing: border-box;
  border: none;
  background-color: #57eeab;
  border-radius: 11px;
  width: 100%;
  height: 3.438rem;
  font-size: 24px;
  font-weight: bold;
  color: #333131;
  margin: 0.938rem 0;

}

a{
  text-decoration: none;
}

.fine-text {
  font-size: 14px;
}

/* change color of emphasized text */
.fine-text em {
  color: #ff8480;
}

footer {
  background-color: #fffd8c;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  width: 100%;

}

.footer-content {
  padding: 1.375rem 2.313rem 0rem 2.313rem;
  margin: 0 auto;
}

.footer-text {
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
}

h5 {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color: #333131;
}

.fine-text2 {
  font-size: 16px;
  font-weight: normal;
  color: #333131;
  padding: 0.625rem 0;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  flex-grow: 1;
}

.footer-form-input {
  box-sizing: border-box;
  height: 2.5rem;
  background-color: #F7F7FF;
  border: none;
  border-radius: 11px;
  margin-bottom: 0.625rem;
  padding: 0.688rem 0rem 0.625rem 0.625rem;
  font-size: 16px;
  color: #707070;
}

.footer-form-label {
  display: none;
}

#hours {
  margin-right: 0.625rem;
}

input#hours {

  width: 4.25rem;
}

input#city {
  width: 13rem;

}

.button2 {
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  background-color: #ff8480;
  font-size: 24px;
  color: #F7F7FF;
  font-weight: bold;
  border-radius: 11px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

div.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.875rem 3.531rem 1.334rem 3.531rem;
  margin: 0;
  order: initial;
}


.footer-icons img:nth-child(1) {
  order: -8 !important;
}


/* ||||||||||||||||| Mobile Styling Ends|||||||||||||||||||*/

/* ||||||||||||||||||Tablet Styling Begins|||||||||||||||||||||*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

  main {
    padding: 1.563rem 5.063rem 5.813rem 5.125rem;
    margin: 0;
  }

  img#dash-logo {
    width: 7.037rem;
    height: auto;
  }

  .title-and-text {
    max-width: 37.813rem;
  }

  .title-and-text h1 {
    font-size: 80px;
    line-height: 97px;
  }

  .start-today {
    line-height: 1.813rem;
    font-size: 24px;
    padding-top: 1.25rem;
  }

  .scooter-girl {
    width: 29.29rem;
    display: block;
    margin: auto;
    padding-bottom: 1.847rem;
  }

  .apply-description-short {
    font-size: 30px;
  }

  .apply {
    align-items: center;
    height: auto;
    padding: 1.813rem 0 2.5rem;
    margin: 0 auto;
    min-width: 605px;
    max-width: 700px;

  }

  div.apply-form-contents {
    width: 32.813rem;
    margin: 0 auto;
  }

  /* form input & placeholder */
  .contact-form-input {
    width: 100%;
    height: 3.438rem;
    align-content: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: lighter;

  }

  .agreement input {
    border-radius: 5px;
    width: 29px;
    height: 29px;
  }

  p.i-agree {
    font-size: 20px
  }

  .button1 {
    width: 100%;
    font-size: 32px;
  }

  div.fine-text {
    font-size: 17px;
    /* center text */
  }

  .footer-content {
    padding: 1.25rem 5rem 0 5rem;
    margin: 0 auto;
    min-width: 605px;
    max-width: 700px;
  }

  .footer-text {
    margin: 0;
    align-self: flex-start;
  }

  .footer-form {
    min-width: 605px;
    max-width: 700px;
  }

  .footer-form-div #hours {
    width: 7.625rem;
    margin-right: 0.625rem;
  }

  .footer-form #city {
    margin-right: 0.613rem;
    width: 16.25rem;
  }

  div.footer-icons {
    padding: 1.5rem 15.844rem 1.209rem 15.313rem;
  }

  .button2 {
    width: 12.5rem;
    display: inline;
  }

}

/* ||||||||||||||||| Tablet Styling Ends|||||||||||||||||||*/

/* ||||||||||||||||||Desktop Styling Begins|||||||||||||||||||||*/

@media screen and (min-width: 1024px) {

  .main-content {
    margin: 2rem;
  }

  /* insert background image into .container */
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background: url(/landing-page-assignment/images/bg-image/scooter.svg) no-repeat center;
    background-position: center;
  }

/* Vanish short description as it is only for mobile and tablet */
  .apply-description-short {
    display: none;
  }

  h2 {
    padding-bottom: 10px;
  }

/* add margin ontop of name input */
  input#name.contact-form-input {
    margin-top: 10px;
  }

  /* Style long description text */
  p.apply-description-long {
    display: contents;
    font-size: 16px;
  }

  .title-and-text {
    max-width: 536px;
    margin-top: 0;
  }

  div.title-and-text {
    grid-column: 1 / 2;
  }

  .scooter-girl {
    display: none;
  }

  div.apply {
    grid-column: 3 / 4;
    max-width: 535px;
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .footer-text {
    align-self: flex-start;
    max-width: none;
  }

  form.footer-form {
    flex-wrap: wrap;
    margin: 0;
  }

  .button2 {
    width: 200px;
    margin-left: 10px;
  }

  div.footer-icons {
    display: flex;
    flex-direction: row;
  }

  /* icons sizing & padding */
  .svg {
    padding: 1rem;
    width: 30.64px;
    height: auto;
  }

  /* changing desktop order of icons */
  .footer-icons img:nth-child(2) {
    order: -7;
  }

  .footer-icons img:nth-child(3) {
    order: -6;
  }

}